[config]
email       = sunckell@gmail.com
workingdir  = /var
loglevel    = INFO
loggingdir  = tmp
logfilename = sermon.log
filestokeep = 10
# --- rotate when this size is hit.  In bytes
logsize     = 209715200

[disk]
# -- seconds between disk recordings for tracking disk io per process
io_counter_interval = 9

# --- number of top processes to display and record.
display_count       = 10 

[cpu]
# --- number of top processes to display and record.
display_count       = 120

[memory]

[network]
